body {
    font-size: 30px;
    
    background-image: url("./wood-pattern.png");
    background-color: #211b1b;
}

button {
    font-size: 0.8em;
}

input {
    font-size: 0.8em;
}

.listContainer {
    width: 30%;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-weight: bold;
    text-shadow: 1px 1px 0 #B00000;
    color: black;
    list-style: none;
}

.done {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-weight: bold;
    text-shadow: 1px 1px 0 #B00000;
    color: black;
    list-style: none;
    text-decoration: line-through;
}

.done .removeButton {
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.todo .removeButton {
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.done .notActive {
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.todo .notActive {
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}



.appContainer {
    height: 100vh;
}

.appTitle {
    color: #B00000;
    text-align: center;
    text-shadow: 2px 1px 0 white;
}

.mainContainer {
    height: fit-content;
    width: 60%;
    margin-left: 20%;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #312D2D;
    border: 3px solid #B00000;
    box-shadow: 3px 5px 2px #000000;

}

.taskBarContainer {
    display: flex;
    width: 80%;
    justify-content: center;
}

.taskBar {
    width: 60%;
    box-shadow: 3px 5px 2px #000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.taskBarButton {
    box-shadow: 3px 5px 2px #000000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    background-color: black;
    color: white;
}

.taskBarButton:active {
    background-color: #B00000;
    color: black;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonContainer button {
    margin-left: 2%;
    padding: 1%;
    border-radius: 10px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    background-color: #B00000;
    box-shadow: 3px 5px 2px #000000;
}

.buttonContainer button:hover {
    background-color: black;
    color: white;
}

.buttonContainer button.isActive {
    background-color: black;
    color: white;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
}